@page "/"

<PageTitle>Pocket Dictionary</PageTitle>

<div class="h-screen flex flex-col font-[monospace] justify-center items-center gap-6">
    <h1 class="text-8xl font-bold tracking-widest">Hello World!</h1>
    <p class="text-5xl">Welcome to your new app.</p>
    <p class="text-7xl">😁</p>
</div>
